*{
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 390px;
    height: 844px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: auto;
}
.logo {
    position: absolute;
    width: 30px;
    height: 40px;
    left: 22px;
    top: 32px;    
}
.heading {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 40px;
    top: 129px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #000000;
}
.sub-heading{
    position: absolute;
    width: 254px;
    height: 44px;
    left: 40px;
    top: 170px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #B8B8B8;
}
 .box1 {
    position: absolute;
    width: 302px;
    height: 40px;
    left: 40px;
    top: 286px;
    background: rgba(31, 216, 151, 1);
    z-index: 5;
}
.box2 {
    position: absolute;
    width: 302px;
    height: 40px;
    left: 36px;
    top: 290px;
    background: rgba(156, 255, 221, 1);
}
.password {
    position: absolute;
    width: 302px;
    height: 40px;
    left: 40px;
    top: 340px;
    background: rgba(31, 216, 151, 1);
    z-index: 5;
    border: none;
    color: white;
    font-size: 20;
}
.box4 {
    position: absolute;
    width: 302px;
    height: 40px;
    left: 36px;
    top: 344px;  
    background: rgba(156, 255, 221, 1);
}
.email {
    position: absolute;
    width: 254px;
    height: 44px;
    left: 75px;
    top: 1px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    z-index: 6;
} 
i.fa-regular.fa-user {
    position: absolute;
    left: -51px;
    right: 20px;
    top: 19px;
    bottom: 62.56%;
    
    background: #FFFFFF;
    z-index: 10;
}
input[type=password]:focus{
    outline:none; 
    align-items: center;
    
}
input[type=password] {
    align-items: center;
    
}
.account { 
    box-sizing: border-box;
    position: absolute;
    width: 294.98px;
    height: 46.05px;
    left: calc(50% - 294.98px/2 - 0.49px);
    top: 200px;
    background: #1FD897;
    border: 1px solid #000000;
    z-index: 5;
}
.boxc {
    box-sizing: border-box;
    position: absolute;
    width: 294.98px;
    height: 46.05px;
    left: calc(50% - 294.98px/2 - 7.51px);
    top: 205px;
    background: #000000;
    border: 1px solid #000000;
}
.createaccount {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: 80px;
}
.aacount {
    text-decoration: none;
    color: white;
}
.nup{
    position: absolute;
    width: 97px;
    height: 29px;
    left: 137px;
    top: 305px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    
}
.uap{
    position: absolute;
    width: 254px;
    height: 44px;
    left: 59px;
    top: 354px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.left {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 175px;
    right: 30.77%;
    top: 750px;
    bottom: -2.84%;
   
}