* {
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 390px;
    height: 844px;
    background: #1FD897;
    border-radius: 50px;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.subcontainer {
    position: absolute;
    width: 391px;
    height: 475px;
    left: 0px;
    top: 370px;
    background: #FFFFFF;
    box-shadow: 1px -4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    }
.aleft {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 40px;
    top: 57px;
    color: white;
}
.aaleft {
    color: white;
}
.profile {
    position: absolute;
    width: 82px;
    height: 60px;
    left: 154px;
    top: 38px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.menu {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 325px;
    top: 57px;
    color: white;
}
.user {
    position: absolute;
width: 100px;
height: 100px;
left: 145px;
top: 112px;
border-radius: 50px;
}
.name {
    position: absolute;
    width: 120px;
    height: 60px;
    left: 142px;
    top: 212px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.add {
    position: absolute;
    width: 85px;
    height: 30px;
    left: 159px;
    top: 253px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}
.ticket {
    position: absolute;
    width: 50px;
    height: 49px;
    left: 38px;
    top: 70px;    
}
.apps {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 39px;
    top: 150px;
}
.history {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 38px;
    top: 230px;    
}
.bookmark {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 38px;
    top: 310px;
}
.search {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 38px;
    top: 390px;    
}
.tick {
    position: absolute;
    width: 196px;
    height: 42px;
    left: 120px;
    top: 75px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    
}
.app {
    position: absolute;
    width: 261px;
    height: 42px;
    left: 120px;
    top: 155px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}
.hist {
    position: absolute;
    width: 196px;
    height: 42px;
    left: 120px;
    top: 235px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}
.book {
    position: absolute;
    width: 196px;
    height: 42px;
    left: 120px;
    top: 315px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}
.nsearch {
    position: absolute;
    width: 196px;
    height: 42px;
    left: 120px;
    top: 395px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}
a {
    text-decoration: none;
    color: black;
}
.aforward {
    margin: 82px;
    display: flex;
    flex-direction: column;
    width: 522px;
    height: 417px;
    padding: 5px;
}
.aforward  i {
    flex: 1 1 auto; 
    text-align: center;
    margin: 5px;
}