*{
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 390px;
    height: 844px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: auto;
}
.logo {
    position: absolute;
    width: 30px;
    height: 40px;
    left: 40px;
    top: 55px;
}
.ticket{
    position: absolute;
    width: 293px;
    height: 34px;
    left: 50px;
    top: 210px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;   
}
.line{
    position: absolute;
    width: 315.01px;
    height: 0px;
    left: 45px;
    top: 247px;
    border: 1px solid #1FD897;
    transform: rotate(-0.55deg);
}

i.fa-regular.fa-user{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 261px;
    top: 150px;
    color: #1FD897;   
}
i.fa-regular.fa-bookmark{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 300px;
    top: 151px;
    color: #1FD897;
}
i.fa-regular.fa-bell{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 334px;
    top: 151px;
    color: #1FD897; 
}
.time{
    position: absolute;
    width: 314px;
    height: 127px;
    left: 50px;
    top: 359px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 105px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;    
}
.wait{
    position: absolute;
    width: 276px;
    height: 28px;
    left: 62px;
    top: 293px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;    
}
.speech {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 297px;
    top: 746px;
}
.btn img{
    position: absolute;
    width: 319px;
    height: 59px;
    left: 40px;
    top: 277px;
    
}